.table-container {
    width: 100%;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #d1d5db;
}

.table {
    width: 100%;
    min-width: 500px;
    border-collapse: separate;
    border-spacing: 0;
}

.table-overflow {
    overflow-x: auto;
}

/* Header styles */
.table-header {
    background-color: #f9fafb;
}

.table-header th {
    padding: 0.75rem 1.5rem;
    text-align: left;
    font-weight: 600;
    color: #374151;
    border-bottom: 2px solid #d1d5db;
    border-right: 1px solid #d1d5db;
}

.table-header th:last-child {
    border-right: none;
}

.table-header th.header-center {
    text-align: center;
}

/* Body styles */
.table-body {
    min-height: 265px;
}

.table-row {
    border-bottom: 1px solid #d1d5db;
    height: 53px;
}

.table-cell {
    padding: 1rem 1.5rem;
    border-right: 1px solid #d1d5db;
}

.table-cell:last-child {
    border-right: none;
}

.table-cell-center {
    text-align: center;
    width: 160px;
}

/* col width*/
.col15 {
    width: 15%;
}

.col20 {
    width: 20%;
}

.col30 {
    width: 30%;
}

.profile-order-receipt i {
    font-size: 20px;
    color: #F26464;
    cursor: pointer;
}

.profile-order-receipt i:hover {
    color: #cf4242;
}

/* Empty rows */
.empty-row td {
    border-right: 1px solid #d1d5db;
}

.empty-row td:last-child {
    border-right: none;
}

/* Pagination styles */
.order-pagination-container {
    padding: 0.75rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #d1d5db;
    background-color: #f9fafb;
}

.rows-per-page {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.rows-select {
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    background-color: white;
}

.order-pagination-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.order-pagination-text {
    font-size: 0.875rem;
    color: #4b5563;
}

.order-pagination-actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.order-pagination-button {
    padding: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    border: 1px solid #d1d5db;
    background-color: white;
}

.order-pagination-button:hover:not(:disabled) {
    background-color: #f3f4f6;
}

.order-pagination-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.icon {
    width: 1.25rem;
    height: 1.25rem;
}