.profile-container {
    display: flex;
    min-height: 100vh;
    background-color: #f3f4f6;
    margin: 15px;
}

.profile-main-content{
    flex: 1;
    padding: 2rem;
}

.profile-content{
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}