*{
    font-family: 'Poppins';
}

.login {
    width: 100%;
    height: 70vh;
    background: #fce3fe;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 580px;
    background: white;
    padding: 40px 80px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-container h1 {
    margin: 20px 0px;
}

.login-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.login-fields input {
    height: 50px;
    padding: 0 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    transition: border-color 0.1s ease;
    box-sizing: border-box;
    width: 100%;
}

.login-fields input:focus {
    border: 1px solid #79AC78;
}

/* disable default password eye */
input[type="password"]::-ms-reveal, 
input[type="password"]::-webkit-textfield-decoration-container {
    display: none; 
}

.password-wrapper{
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #5c5c5c;
    font-size: 20px;
}

.login-container button {
    width: 100%;
    height: 50px;
    color: white;
    background-color: #ff4141;
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #e53636;
}
