.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #0000;
    margin-bottom: 1px;
    background-color: white;
}

.nav-logo{
    width: 200px;
}

.nav-profile{
    width: 75px;
}

.nav-name-login{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    font-weight: 500;
    color: #626262;
}

.nav-name-login button{
    width: 150px;
    height: 58px;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #626262;
    font-size: 23px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}

.nav-name-login button:active{
    background-color: #EEEDEB;
}

@media(max-width: 800px){
    .navbar{
        padding: 15px 30px;
    }

    .nav-logo{
        width: 150px;
    }

    .nav-profile{
        width: 60px;
    }
}