*{
    margin: 0;
    padding: 0;
}

.manage-user{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 50px;
    margin: 30px;
    border-radius: 6px;
    background-color: white;
}

.manage-user > h1{
    text-align: center;
    padding: 20px 0;
}

.manageUser-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 3fr 2fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 20px 0;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.manageUser-format{
    align-items: center;
    font-weight: 500;
}

.manageUser-remove-icon{
    cursor: pointer;
}

.manageUser-remove-icon > i{
    font-size: 18px;
    color: #e53636;
    transition: all 0.2s;
}

.manageUser-remove-icon > i:hover {
    color: #c22c2c;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.manageUser-allUsers{
    overflow-y: auto;
}

/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-top: auto;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    font-family: "Poppins";
    font-size: 15px;
    border: 1px solid #a6abb1;
    border-radius: 2px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #295F98;
    color: white;
}

/* scroll */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(183, 183, 183, 0.781);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(155, 155, 155);
}

@media(max-width: 800px){
    .manage-user{
        box-sizing: border-box;
        width: 95%;
        height: 100%;
        padding: 10px 30px;
        margin: 20px auto;
    }
    
    .manageUser-format-main{
        padding: 15px 0;
        color: #454545;
        font-size: 12px;
    }

    .manageUser-product-icon{
        height: 60px;
    }
}